# Terraform files
.terraform
.terraform.lock.hcl
.terraform
terraform.tfstate.backup
terraform.tfstate

# python (awscli client) venv
venv

# OS X files
.history
.DS_Store

# vim files
*.swp
*.swo

# Crash log files
crash.log

# temp
EKS
yamls